.pc-header
  .pc-header__inner
    .inner-top
      .inner-top__logo
        = link_to root_path do
          = image_tag "logo.svg", width: "134", height: "36"
      %form.inner-top__form
        %input{ type: "search", placeholder: "キーワードから探す" }
        = fa_icon 'search'

    .inner-nav
      .l-left
        %ul.nav-lists
          %li
            %h2
              = link_to "カテゴリー"
            %ul.nav-parent-lists
              %li.nav-parent-lists__list
              %li.nav-parent-lists__list
              %li.nav-parent-lists__list
              %li.nav-parent-lists__list
          %li
            %h2
              = link_to "ブランド"
            %ul.nav-parent-lists
              %li.nav-parent-lists__list
              %li.nav-parent-lists__list
              %li.nav-parent-lists__list
      .l-right
        %ul.login-nav-lists
          %li
            = link_to "ログイン",new_user_session_path, class: "login-nav-lists__btn login-nav-lists__btn-sign-in"
          %li
            = link_to "新規会員登録", "", class: "login-nav-lists__btn login-nav-lists__btn-sign-up"
